<footer class="py-5 text-warning text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <h5>Contactanos</h5>
          <li><i class="bi bi-whatsapp m-2"></i>3881234567</li>
        </ul>
      </div>
      <div class="col-md-4 mapa">
        <h5>Dirección</h5>
        <div class="mapa-contenedor">
          <iframe
            src="https://www.google.com/maps/embed?pb=!4v1745894597547!6m8!1m7!1sqohFZ48sqEtojeqpxHiJ4w!2m2!1d-24.18946548343461!2d-65.29300396893599!3f338.2676651244758!4f-1.435242887707858!5f0.7820865974627469"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Síguenos en redes sociales</h5>
        <ul>
          <li><a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook m-2"></i>Facebook</a></li>
          <li><a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter-x m-2"></i>Twitter</a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram m-2"></i>Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>