<div class="container-fluid">
  <h2 class="text-center mb-4 pt-2">Gestión Funciones</h2>
  <div class="form-container">
    <h4 class="text-center">Alta de Funciones</h4>
    <div class="selector-modo mb-3">
      <button type="button" class="btn"
        [ngClass]="{'btn-primario': isSingleFunctionMode, 'btn-secundario': !isSingleFunctionMode}"
        (click)="toggleFunctionMode(true)">
        Agregar Función Única
      </button>
      <button type="button" class="btn ms-2"
        [ngClass]="{'btn-primario': !isSingleFunctionMode, 'btn-secundario': isSingleFunctionMode}"
        (click)="toggleFunctionMode(false)">
        Agregar Funciones Semanales
      </button>
    </div>

    <form #funcionForm="ngForm">
      <div class="grupo-formulario">
        <label for="pelicula">Película:</label>
        <select id="pelicula" name="pelicula" [(ngModel)]="nuevaFuncion.pelicula" required class="form-control">
          <option [ngValue]="null" disabled>Selecciona una película</option>
          <option *ngFor="let pelicula of peliculas" [ngValue]="pelicula._id">{{ pelicula.originalTitle }}</option>
        </select>
        <div
          *ngIf="funcionForm.controls['pelicula']?.invalid && (funcionForm.controls['pelicula']?.dirty || funcionForm.controls['pelicula']?.touched)"
          class="mensaje-error">
          La película es obligatoria.
        </div>
      </div>

      <div class="grupo-formulario">
        <label for="hora">Hora:</label>
        <select id="hora" name="hora" [(ngModel)]="nuevaFuncion.hora" required class="form-control">
          <option [ngValue]="null" disabled>Selecciona una hora</option>
          <option *ngFor="let hora of horariosDisponibles" [ngValue]="hora">{{ hora }}</option>
        </select>
        <div
          *ngIf="funcionForm.controls['hora']?.invalid && (funcionForm.controls['hora']?.dirty || funcionForm.controls['hora']?.touched)"
          class="mensaje-error">
          La hora es obligatoria.
        </div>
      </div>

      <div class="grupo-formulario">
        <label for="sala">Sala:</label>
        <select id="sala" name="sala" [(ngModel)]="nuevaFuncion.sala" required class="form-control">
          <option [ngValue]="null" disabled>Selecciona una sala</option>
          <option *ngFor="let sala of salasDisponibles" [ngValue]="sala">{{ sala }}</option>
        </select>
        <div
          *ngIf="funcionForm.controls['sala']?.invalid && (funcionForm.controls['sala']?.dirty || funcionForm.controls['sala']?.touched)"
          class="mensaje-error">
          La sala es obligatoria.
        </div>
      </div>

      <div *ngIf="isSingleFunctionMode; else fechasSemanales">
        <div class="grupo-formulario">
          <label for="singleDate">Fecha de la Función:</label>
          <input type="date" id="singleDate" name="singleDate" [(ngModel)]="selectedSingleDate" required
            class="form-control">
          <div *ngIf="!selectedSingleDate && (funcionForm.submitted || funcionForm.controls['singleDate']?.touched)"
            class="mensaje-error">
            La fecha de la función es obligatoria.
          </div>
        </div>
      </div>

      <ng-template #fechasSemanales>
        <div class="grupo-formulario">
          <label for="startDate">Fecha de Inicio:</label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="selectedStartDate" required
            class="form-control">
          <div *ngIf="!selectedStartDate && (funcionForm.submitted || funcionForm.controls['startDate']?.touched)"
            class="mensaje-error">
            La fecha de inicio es obligatoria.
          </div>
        </div>

        <div class="grupo-formulario">
          <label for="endDate">Fecha de Fin:</label>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="selectedEndDate" required class="form-control">
          <div *ngIf="!selectedEndDate && (funcionForm.submitted || funcionForm.controls['endDate']?.touched)"
            class="mensaje-error">
            La fecha de fin es obligatoria.
          </div>
        </div>
      </ng-template>

      <button type="button" class="btn-enviar"
        [disabled]="!funcionForm.form.valid || (isSingleFunctionMode && !selectedSingleDate) || (!isSingleFunctionMode && (!selectedStartDate || !selectedEndDate))"
        (click)="crearFuncion()">
        Crear Función(es)
      </button>
    </form>
  </div>
  <div class="funciones-container pb-3">
    <div *ngIf="funcionesActivas.length > 0" class="tabla-funciones mt-5">
      <h4 class="text-center mb-3">Funciones Activas</h4>
      <table class="tabla-funciones-personalizada">
        <thead>
          <tr>
            <th>Película</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Sala</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcion of funcionesActivas">
            <td>{{ funcion.pelicula.originalTitle || 'Sin título' }}</td>
            <td>{{ funcion.fecha | date:'dd/MM/yyyy' }}</td>
            <td>{{ funcion.hora }}</td>
            <td>{{ funcion.sala }}</td>
            <td>
              <button class="btn-eliminar-funcion" (click)="eliminarFuncion(funcion._id!)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div *ngIf="funcionesActivas.length === 0" class="text-center text-light mt-4">
      No hay funciones activas.
    </div>

  </div>
</div>